body {
    padding: 0;
    margin: 0;
    background: rgb(72,219,167);
background: linear-gradient(45deg, rgba(72,219,167,1) 20%, rgba(159,232,142,1) 88%);
box-shadow: 0px 0px 15px #c4c5c5;
    /* background-image:url("./assets/vecteezy_background-with-circuit-diagram-vector-illustration_.jpg"); */
    /* background-position-x: center;
    background-blend-mode: exclusion; */
}
/* ----- Navbar ----- */
.navbar {
    /* background-color: #48dba7; */
    background: rgb(72,219,167);
background: linear-gradient(90deg, rgba(72,219,167,1) 20%, rgba(159,232,142,1) 88%);
box-shadow: 0px 0px 15px #ffff;
}
#logo-img {
   height:5em;

}
#brand-name {
    font-family: 'Changa', sans-serif;
    left: 2em;
    position: absolute;
    font-size: 3em;
}
#header-slogan {
    font-family: 'BenchNine', sans-serif;
    font-size: 1.5em;
    margin-top: 25px;
}
/* ----- Card ----- */
.card-header {
    font-family: 'BenchNine', sans-serif;
    background-color: transparent;
}
.card {
    border-radius: 30px;
    box-shadow: 3px 4px 12px #ffff;
    margin-bottom: 50px;
}
.card-body {
    background-image: url(./assets/vecteezy_background-with-circuit-diagram-vector-illustration_.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    border-radius: 30px;


}
/* Card on successful submit */
.success-card-body {
    box-shadow: 6px 7px 18px #06a536;
    
}
.success-card-header {
    font-size: 2em;
}
.input {
border-radius: 55px;
}
footer {
    text-align: -webkit-center;
    box-shadow: 0px -2px 18px #ffff;
}
/* transform-style:preserve-3d; */

/* Fonts used */
/* font-family: 'BenchNine', sans-serif;
   font-family: 'Changa', sans-serif; */